@{
	ViewData["Title"] = "Home Page";
	List<string> data = (List<string>)ViewBag.Data;
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<ul>
		@foreach (var item in data)
		{
			<li>@item</li>
		}
	</ul>
</div>
